body{
    padding: 0px;
    margin: 0px;
}
.section{
    display: flex;
}
.container{
    width:50%;
}
.image{
    width:670px;
    height: 660px;
}
.topic{
    position: absolute;
    top:25px;
    left:50px;
    color: white;
    text-align: center;
}
h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
}
p{
   width: 300px;
   position: relative;
   bottom: 20px;
}
.container2 h1{
    margin-left: 210px;
}
.textcol{
    margin-left: 230px;
    color: gray;
}
fieldset{
    margin-bottom: 20px;
}
form{
    margin-left: 160px;
}
button{
    padding: 10px 15px;
    margin-left: 250px;
    background-color: rgba(0, 0, 255, 0.637);
    border: 1px solid rgba(0, 0, 255, 0.637);
}
.text{
    margin-left: 270px;
}
i{
    font-size: 30px;
    margin: 10px;
}
.iconsection{
    margin-left: 220px;
}
.tajleft{
    position:relative;
    top:40px;
    right:4px;
}
.imageright{
    position: relative;
    top:25px;
    left:380px;
}